.page6{
    width: 1440px;
    height: 1000px;
    background-color: #DCE8F2;
    position: relative;
    top: 350px;
    .img1{
        position: relative;
        left: 300px;
        top: 300px;
    }
    h1{
        font-size: 48px;
        position: relative;
        left: 300px;
        top: 200px;
    }
    .img2{
        position: relative;
        bottom: 250px;
        left: 370px;
    }
}