.page4{
    width: 1440px;
    height: 1300px;
    .xz{
        display: flex;
        width: 1400px;
        height: 300px;
       overflow-x: hidden;
        position: relative;
        left: 300px;
        .gallery{
            display:flex;
            grid-template-columns: auto auto auto;
            grid-gap: 10px;
            width: 600px;
            height: 200px;
            img{
                width: 300px;
                height: 300px;
            }
        }
    }
    .bottom{
        background: rgb(0, 0, 44);
        width: 1440px;
        height: 520px;
        opacity: 0.7;
        position: relative;
        top: 450px;
        padding: 50px;
        color: white;
    }
}
.xz::-webkit-scrollbar{
    display: none;
}
